@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Anton', sans-serif
}

.vanilla {
  height: 50vh;
}

.react {
  height: 50vh;
}

.container {
  display: flex;
  justify-content: center;
  gap: 3em;
}

input[type=text] {
  padding: .5em;
  width: 100%;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  padding: .5em;
  background-color: #000;
  color: #fff;
  font-family: 'Anton', sans-serif;
  border: none;
}

li {
  list-style: none;
}