@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Anton', sans-serif
}

.container {
  display: flex;
  justify-content: center;
  gap: 3em;
}

li {
  list-style: none;
}